<div id="header">
  <h1><a href="#"><%= image_tag "naslovna.png" %></a></h1>
  <ul id="categories">
    <li><a href="#tko_smo"><%= image_tag "tko_smo.png"%></a></li>
    <li><a href="#gdje_smo"><%= image_tag "gdje_smo.png"%></a></li>
    <li><a href="#predavanja"><%= image_tag "predavanje.png"%></a></li>
    <li><a href="#"><%= image_tag "kraj_nav.png", :width => '410px', :height => '35px'%></a></li>
  </ul>
</div>
