<h2><%= @event.title %></h2>

<strong>Title :</strong> <%= @event.title %><br />
<strong>Description :</strong> <%= @event.body %><br />
<strong>Datum unosa :</strong> <%= @event.created_at %><br />
<strong>Datum odrzavanja:</strong> <%= @event.scheduled_at %><br />

<li><a href="#" class="lbAction" rel="deactivate"><button>Cancel</button></a></li>

