<div id="container">

  <%= render :partial => 'header' %>

  <div id="content">

    <div id="prijave">
      <% if @event.blank? %>
        <p>Trenutno nema dogadjaja na koje se mozete prijaviti.</p>
      <% else %>
        <%= render :partial => 'form' %>
      <% end %>
    </div>
    <hr/>


    <%= render :partial => 'home/sections/tko_smo' %>
    <hr/>

    <%= render :partial => 'home/sections/gdje_smo' %>
    <hr/>

    <%= render :partial => 'home/sections/prati_nas' %>

  </div>

</div> <!--END CONTENT-->

 </div>





