
<h2>Home#index</h2>
<h2>Hello, Rails!</h2> 
<%= link_to "Prijavi se", new_submit_path %>	

	<div id="container">
    
        

	 <div id="header">
	
	<h1><a href="#"><%= image_tag "naslovna.png" %></a></h1>

 
      

        <ul id="categories">
            <li><a href="#"><%= image_tag "tko_smo.png"%></a></li>
            <li><a href="#"><%= image_tag "gdje_smo.png"%></a></li>
            <li><a href="#"><%= image_tag "predavanje.png"%></a></li>
            <li><a href="#"><%= image_tag "prijava.png"%></a></li>
             <li><a href="#"><%= image_tag "kraj_nav.png"%></a></li>
        </ul>
   

    </div> <!--END HEADER-->
    
    <div id="content">
   
    
    <div id="tko_smo">
   	   	 <h2> Tko smo </h2>
    	  <p> Performing with Meat Loaf on Hell In A Handbasket is The Neverland Express, his long-time backing ensemble, featuring John Miceli (drums, percussion), Patti Russo (lead and backing vocals), Paul Crook (electric and acoustic guitars), Randy Flowers (electric and acoustic guitars, vocals), David Luther (saxophone, vocals), Justin Avery (piano, organ, keyboard, vocals), and Danny Miranda (electric and upright bass).

The new Meat Loaf tracks on Hell In A Handbasket include "All of Me," "The Giving Tree,"
"Live or Die," "Blue Sky/Mad Mad World/The Good God is a Woman and She Don't Like Ugly" (special appearance by Chuck D), "California Dreamin'" (duet with Patti Russo), "Party of One," "Another Day," "40 Days," "Our Love and Our Souls" (duet with Patti Russo), "Stand in the Storm" (special guest appearances from Trace Adkins, Lil Jon and Mark McGrath), "Blue Sky," and "Fall From Grace."</p>
 <%= image_tag("break.png", :width => '100%') %> 
    </div>
    
    <div id="gdje_smo">
   		    
             <%= image_tag("gmaps.png", :align => 'right') %> 
          	<h2>  Gdje smo </h2>
           
         	<p> Performing with Meat Loaf on Hell In A Handbasket is The Neverland Express, his long-time backing ensemble, featuring John Miceli (drums, percussion), Patti Russo (lead and backing vocals), Paul Crook (electric and acoustic guitars), Randy Flowers (electric and acoustic guitars, vocals), David Luther (saxophone, vocals), Justin Avery (piano, organ, keyboard, vocals), and Danny Miranda (electric and upright bass).</p>
<%= image_tag("break.png", :width => '100%') %> 
   		   
    </div>
    
	<div id="predavanja">
   	  <h2> Predavanja </h2>
   		 <p> Performing with Meat Loaf on Hell In A Handbasket is The Neverland Express, his long-time backing ensemble, featuring John Miceli (drums, percussion), Patti Russo (lead and backing vocals), Paul Crook (electric and acoustic guitars), Randy Flowers (electric and acoustic guitars, vocals), David Luther (saxophone, vocals), Justin Avery (piano, organ, keyboard, vocals), and Danny Miranda (electric and upright bass).</p>
   		 <p>
   		 


<% if @event.blank? %>
<p>There are not any event upcoming.</p>
<% else %>
<p>These are the current events in our system</p>
<ul>
<% @event.each do |event| %>
<li><p><%= link_to event.title, {:action => 'show', :id => event.id} -%></p>
	<li><a href="home/prijava" class="lbOn">Prijavi se</a></li>
</li>
</ul>
<% end %>
<% end %>


</p>

<%= image_tag("break.png", :width => '100%') %> 

</div>
    
    <div id="prijave">
    	<h2> Prijava </h2>
   		 <p> Performing with Meat Loaf on Hell In A Handbasket is The Neverland Express, his long-time backing ensemble, featuring John Miceli (drums, percussion), Patti Russo (lead and backing vocals), Paul Crook (electric and acoustic guitars), Randy Flowers (electric and acoustic guitars, vocals), David Luther (saxophone, vocals), Justin Avery (piano, organ, keyboard, vocals), and Danny Miranda (electric and upright bass).

The new Meat Loaf tracks on Hell In A Handbasket include "All of Me," "The Giving Tree,"
"Live or Die," "Blue Sky/Mad Mad World/The Good God is a Woman and She Don't Like Ugly" (special appearance by Chuck D), "California Dreamin'" (duet with Patti Russo), "Party of One," "Another Day," "40 Days," "Our Love and Our Souls" (duet with Patti Russo), "Stand in the Storm" (special guest appearances from Trace Adkins, Lil Jon and Mark McGrath), "Blue Sky," and "Fall From Grace." </p>
        
  
  <div id= "prijava_lightweight", style="position: relative; height : 300px ;width: 1000px; margin: auto;">
  <form>
  <div id = "osoba",  style="position: absolute;left:0px;top:0px; width: 350px;">
     
    <%= text_field :first_name, :value => "Ime", :name => 'first_name' %>
    <%= text_field :last_name, :value => "Prezime", :name => 'last_name' %>
    <%= text_field :e_mail, :value => "E-mail Adresa" , :name => 'e_mail'%>
  </div>

  <div id = "predavac", style="position: absolute;left:430px;top:0px;">
   <div class="actions", style="position: inline;"z>
   <p><label for="Predavac">Prijava kao predavac: </label> </p>
      <input type="checkbox" name="predavac"  value="value1" onclick="showMe('skrivanje', this)" />
     
    </div>
  
    <div id="skrivanje">
       <%= text_field :title, :value => "Naslov" , :name => 'title'%>
       <%= text_field :body, :value => "Ukratko" , :name => 'body'%>
    </div>
 
    <div class="actions" >
       <%#= submit ""  %> 
      <error display:"inline", align = 'right', padding-left = '30px'><span></span></error>
    </div>

</div>
</form>
</div>

<script type="text/javascript">
function showMe (it, box) {
var vis = (box.checked) ? "block" : "none";
document.getElementById(it).style.display = vis;
}
</script>
        
</div>
	
<div id="prati_nas"></div>
        <ul id="prati_nas">
		<li><a href="#"><%= image_tag("prati_twitter.png", :align => 'right', :width => '839') %></a></li>
		</ul>
    </div>
  
   </div> <!--END CONTENT-->
 
 </div>
 




<p>Find me in app/views/home/index.html.erb</p>x
