%hr
.column-container
  #submissions
    #messages
    %h2 Prijave
    -if @event
      = form_tag apply_path, :id => 'apply-form' do |f|
        = hidden_field_tag :event_id, @event.id
        #first_name.text_field
          = text_field_tag :first_name, "ime"
        #last_name.text_field
          = text_field_tag :last_name, "prezime"
        #email.text_field
          = text_field_tag :email, "email"
        =submit_tag 'Prijavi se', :class => 'button', :id => 'apply'
    - else
      %p Trenutno nema dogadjaja na koje se mozete prijaviti.


  #participants
    %h2 Dolaze ...
    .container
      - if !@event.persons.present?
        %p Zasada nema prijavljenih. Budi hipster i prijavi se dok još nitko nije!
      - else 
        - @event.persons.each do |p|
          %li
            :erb
              <%= p.first_name %> <%= p.last_name %>

= render :partial => 'about'


%hr
.column-container
  #announcement
    %h2 O ovoj instanci
    = @event.announcement

  #talks
    %h2
      Predavanja
    .container
      %p
        :erb
          <p>Ovaj put iz ponude izdvajamo:</p>
          <ul>
            <li><em>Git history</em> i kako ga shekati objasnit će nam Merlin Rebrović</li>
            <li>Karlo Smid pokušat će nas uvjeriti da nam je potreban <em>Load testing</em> :)</li> 
            </ul>
            <p>Oba predavanja biti će hands on. Nema dakle brige o tome da će biti dosadna.</p>





= render :partial => 'location'
= render :partial => 'twitter'
