%hr
.column-container
  #submissions
    #messages
    %h2 Prijave
    -if @event
      = form_tag apply_path, :id => 'apply-form' do |f|
        = hidden_field_tag :event_id, @event.id
        #first_name.text_field
          = text_field_tag :person, :first_name, :value => "Ime"
        #last_name.text_field
          = text_field_tag :person, :last_name, :value => "Prezime"
        #email.text_field
          = text_field_tag :person, :email, :value => "eMail"
        =# submit_tag 'Prijavi se', :class => 'button', :id => 'apply'
        #apply.button Prijavi se!
    - else
      %p Trenutno nema dogadjaja na koje se mozete prijaviti.

  #announcement
    = @event.announcement

  #participants.hidden
    %h2 Dolaze ...
    .container
      - if !@event.persons.present?
        %p Zasada nema prijavljenih. Budi hipster i prijavi se dok još nitko nije!
      - else 
        - @event.persons.each do |p|
          %li
            :erb
              <%= p.first_name %> <%= p.last_name %>

  #talks.hidden
    %h2
      Predavanja
    .container
      %p
        Trenutno nema prijavljenih predavanja. Ukoliko nam želite nešto ispričati o svojim web development iskustvima, javite se na <span class="yellow">nikica@infinum.hr</span>

= render :partial => 'about'
= render :partial => 'location'
= render :partial => 'twitter'
