.title
  :erb
    Title<br/>
  = f.text_field :title

.slug
  :erb
    Slug<br/>
  = f.text_field :slug

.announcement
  :erb
    Announcement<br/>
  = f.text_area :announcement

.report
  :erb
    Report<br/>
  = f.text_area :report

.type
  :erb
    Type of event:<br/>
    Meetup <%= f.radio_button :whatisit, 'meetup' %><br/>
    Hackathon <%= f.radio_button :whatisit, 'hackathon'%>

.scheduled_at
  = datetime_select :event, :scheduled_at

%p.active
  Event is active?: 
  = f.check_box :is_active
