<%= form_for(@submit) do |f| %>
  <% if @submit.errors.any? %>
    
  <% end %>

  <div class="field">
    <%= f.text_field :name, :value => "Ime", :name => 'name' %>
  </div>
  <div class="field">
    <%= f.text_field :surname, :value => "Prezime", :name => 'surname' %>
  </div>
  
  <div class="field">
     <%= f.text_field :email, :value => "E-mail Adresa" , :name => 'email'%>
  </div>
   <div class="actions", :display = "block">
   <p><label for="Predavac">Prijava kao predavac: </label>
      <input type="checkbox" name="predavac"  value="value1" onclick="showMe('skrivanje', this)" />
   </p>
  </div>
  
  <div id="skrivanje">
     <%= f.text_field :title, :value => "Naslov" , :name => 'title'%>
     <%= f.text_field :body, :value => "Ukratko" , :name => 'body'%>
  </div>

<div class="actions" >
    <%= f.submit ""  %>
    <error display:"inline", align = 'right', padding-left = '30px'><span></span></error>
</div>


<script type="text/javascript">
function showMe (it, box) {
var vis = (box.checked) ? "block" : "none";
document.getElementById(it).style.display = vis;
}
</script>




<% end %>





