<h1>Edit Event Detail</h1>
<%= form_tag :action => 'update', :id => @book %>

<p><label for="title">Title</label>:
<%= text_field 'event', 'title' %></p>
<p><label for="body">Description</label>:
<%= text_field 'event', 'body' %></p>
<p><label for="created_at">Datum stvaranja</label>:
<%= datetime_select 'event', 'created_at' %> 
<p><label for="scheduled_at">Datum odrzavanja</label>:
<%= datetime_select 'event', 'scheduled_at' %> 

<%= submit_tag "Save changes" %>
<%= form_tag %>
<%= link_to 'Back', {:action => 'list' } %>


