
<h1><%= @event.title %></h1>
<p><strong>ID: </strong> $<%= @event.event_id %><br />
<strong>Title :</strong> <%= @event.title %><br />
<strong>Description :</strong> <%= @event.body %><br />
<strong>Datum unosa :</strong> <%= @event.created_at %><br />
<strong>Datum odrzavanja:</strong> <%= @event.scheduled_at %><br />

<hr />
<%= link_to 'Back', {:action => 'list'} %>
