%html
  %head
    %title Code at six
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'modernizr'
    = csrf_meta_tags
  %body
    #homepage
      .banner
        = link_to image_tag('banner2.png'), '/'
      .navigation
        = render :partial => 'layouts/navigation'
      .content
        = yield
