
<!DOCTYPE html>
<html>
<head>
  <title>Codeatsix</title>
  <%= stylesheet_link_tag    "style.css", :media => "all" %>
  <%= stylesheet_link_tag    "lightbox.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
   <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "lightbox" %>
  <%= csrf_meta_tags %>
 
   
</head>
<body style="background: #EEEEEE;">

<%= yield %>

</body>
</html>
